[Desktop Entry]
Version=0.1
Name=Connectfour_server
Comment=A multiplayer connect four game.
Exec=pkexec sh /usr/share/bin/connectfour/connectfour_server
Icon=/usr/share/applications/connectfour/icon_server.png
Terminal=false
Type=Application
Categories=Games
Keywords=game;connect;four;
Name[fr_FR]=connectfour_server
